/* ----- GENERAL ----- */

* {
	margin: 0;
	padding: 0;
}

/* ----- WRAPPER ----- */

body {
	margin: 10px auto;

	text-align: center;

	background: black;

	width: 960px;
}

#wrapper {
	width: 960px;
	
	margin: 0 auto;

	text-align: left;
}

/* ----- HEADER ----- */

#header {
	background: url(/assets/images/header/header.jpg) no-repeat;

	position: relative;

	width: 960px;
	height: 126px;
}

/* h1 */

#header div span {
	display: none;
}

#header div a {
	position: absolute;
	
	top: 0;
	left: 320px;
	
	width: 313px;
	height: 126px;
	
	background: url(/assets/images/header/header.jpg) -320px 0;
}

#header div a:hover {
	background-position: -320px -126px;
}

/* ----- NAVIGATION ----- */

#nav {
	position: relative;

	height: 69px;
}

#nav li {
	float: left;
	
	display: block;
	
	width: 160px;
	height: 69px;
}

#nav li a {
	display: block;
	
	width: 160px;
	height: 69px;
	
	background: url(/assets/images/header/nav.jpg);
}

#nav li a span {
	display: none;
}

#nav li#nav-home a             { background-position: 0      0; }
#nav li#nav-play a             { background-position: -160px 0; }
#nav li#nav-about a            { background-position: -320px 0; }
#nav li#nav-forums a           { background-position: -480px 0; }
#nav li#nav-media a            { background-position: -640px 0; }
#nav li#nav-developers a       { background-position: -800px 0; }

#nav li#nav-home a:hover       { background-position: 0      -69px; }
#nav li#nav-play a:hover       { background-position: -160px -69px; }
#nav li#nav-about a:hover      { background-position: -320px -69px; }
#nav li#nav-forums a:hover     { background-position: -480px -69px; }
#nav li#nav-media a:hover      { background-position: -640px -69px; }
#nav li#nav-developers a:hover { background-position: -800px -69px; }

/* ----- BANNER ----- */

#banner {
	width: 960px;
	height: 213px;

	background: url(/assets/images/header/banner.jpg) no-repeat top left;

	position: relative;
}

#banner p {
	bottom: 42px;
	left: 30px;
	width: 280px;

	position: absolute;

	padding: 20px;

	background: rgba(32, 32, 32, 0.8);

	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;

	color: #ffffff;
}

/* ----- GENERAL ----- */

/* main wrapper out */

#main-wrapper-outside.halfwidth {
	background: url(/assets/images/background/right-middle.jpg) repeat-y top left;
}

#main-wrapper-outside.fullwidth {
	background: url(/assets/images/background/full-middle.jpg) repeat-y top left;
}

/* main wrapper in */

.halfwidth #main-wrapper-inside {
	background: url(/assets/images/background/right-bottom.jpg) no-repeat bottom left;
}

.fullwidth #main-wrapper-inside {
	background: url(/assets/images/background/full-bottom.jpg) no-repeat bottom left;
}

/* main wrapper main */

.halfwidth #main {
	background: url(/assets/images/background/right-top.jpg) no-repeat top left;

	min-height: 800px;

	padding: 38px 60px 60px 471px;
}

.halfwidth-with-banner #main {
	background: url(/assets/images/background/right-top-with-banner.jpg) no-repeat top left;

	min-height: 800px;

	padding: 58px 60px 60px 471px;
}

.fullwidth #main {
	background: url(/assets/images/background/full-top.jpg) no-repeat top left;

	min-height: 440px;

	padding: 38px 60px 100px 80px;
}

#main {
	position: relative;
}

/* page */

.halfwidth-with-banner #page {
	margin: -120px 0 0 0;
}

/* headers */

#main h1 {
	position: relative;

	height: 132px;
	width:  489px;

	right: 0;
	top:   0;
}

body#page-play #main h1 {
	background: url(/assets/images/header/page-play.jpg) no-repeat top left;
}

body#page-about #main h1 {
	background: url(/assets/images/header/page-about.jpg) no-repeat top left;
}

body#page-about-news #main h1 {
	background: url(/assets/images/header/page-about-news.jpg) no-repeat top left;
}

body#page-media #main h1 {
	background: url(/assets/images/header/page-media.jpg) no-repeat top left;
}

body#page-media-screenshots #main h1 {
	background: url(/assets/images/header/page-media-screenshots.jpg) no-repeat top left;
}

body#page-developers #main h1 {
	background: url(/assets/images/header/page-developers.jpg) no-repeat top left;
}

.halfwidth-with-banner #main h1 {
	display: none;
}

#main h1 span {
	display: none;
}

#main h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;

	color: #6a4a17;

	text-transform: uppercase;

	padding: 6px 0 0 0;
	margin: 47px 0 18px 0;
}

#main h2 span {
	display: none;
}

#main h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;

	text-transform: uppercase;

	color: #6a4a17;
	color: #000;

	margin: 20px 0;
}

/* pictures */

#main #sidebar-pic-top {
	position: absolute;

	width: 471px;
	height: 352px; 

	top: 20px;
	left: 0;
}

#main #sidebar-pic-bottom {
	position: absolute;

	width: 471px;
	height: 329px;

	top: 372px;
	left: 0;
}

#main #sidebar-pic-home {
	position: absolute;

	width: 471px;
	height: 640px;

	top: 0;
	left: 0;
}

/* text */

#main p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: normal;

	color: #290f00;

	line-height: 18px;

	margin: 0 0 20px 0;
}

#main .meta {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-weight: normal;
	font-style: italic;

	color: #927250;

	line-height: 18px;

	margin: -10px 0 30px 0;
}

#main p.note {
	font-style: italic;

	color: #927250;
}

#main q {
	font-style: italic;
}

#main p a {
	color: #824000;

	text-decoration: underline;
}

#main p a:hover {
	color: #541b00;

	text-decoration: underline;
}

/* sub-navigation */

#main #subnav {
	margin: 0 0 20px 0;
}

#main #subnav li {
	display: inline;

	margin: 0 10px 0 0;
}

#main #subnav a,
#main #subnav span.active {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: bold;

	text-transform: uppercase;
}

#main #subnav a {
	text-decoration: underline;
}

#main #subnav a:link,
#main #subnav a:visited {
	color: #927250;
}

#main #subnav a:hover {
	color: #541b00;

	text-decoration: underline;
}

#main #subnav a:active {
	color: #000000;

	text-decoration: none;
}

#main #subnav span.active {
	color: #541b00;
}

/* special */

#main .special {
	background: #fddfb7;

	margin: 20px 0;
	padding: 0 10px;
}

#main .special p {
	margin: 0;
	padding: 10px 0;

	color: #824000;

	font-size: 13px;

	line-height: 18px;
}

/* gallery */

#main .gallery {
	margin:  0;
	padding: 20px 0;

	position: relative;
}

#main .gallery li {
	display: inline;

	list-style-type: none;

	line-height: 50px;

	margin-right: 10px;
}

#main .gallery li a img {
	border: 0;
}

#main .gallery img {
	width: 193px;
	height: 120px;
}

/* ----- FOOTER ----- */

#footer {
	text-align: center;

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: normal;

	color: #666666;
}
