#!/usr/bin/env ruby

item '/assets/*' do |rep|
  rep.filter :rainpress
  rep.filter :relativize_paths, :type => :css
  rep.write
end

item '/sitemap_xml/' do |rep|
  rep.filter :erb
  rep.write
end

item '/*/feed_private/' do |rep|
  rep.filter :erb
  rep.write
end

item '*' do |rep|
  # language-based redirects
  if rep.item[:kind] == 'redirect'
    rep.filter :erb
    rep.write
  # articles that are included in other pages
  elsif rep.item[:kind] == 'article'
    rep.filter :erb
  # normal pages
  else
    rep.filter :erb
    rep.filter :italicize_proper_names
    rep.layout 'default'
    rep.filter :rubypants_ddfreyne
    rep.filter :relativize_paths, :type => :html
    rep.write
  end
end

layout '*' => :erb
