#!/usr/bin/env ruby

item '/assets/*' do |rep|
  rep.filter :rainpress
  #rep.filter :relativize_paths, :type => :css
  rep.write
end

item '*' do |rep|
  if language_code_of(rep.item).nil?
    rep.filter :erb
    rep.write
  elsif rep.item[:kind] == 'article'
    rep.filter :erb
  else
    rep.filter :erb
    rep.filter :italicize_proper_names
    rep.layout 'default'
    rep.filter :rubypants_ddfreyne
    #rep.filter :relativize_paths, :type => :html
    rep.write
  end
end

layout '*' => :erb
