<?php $pair = rand(1, 9); ?>

<img src="/assets/images/sidebar/<?php echo $pair; ?>/top.jpg"    id="sidebar-pic-top">
<img src="/assets/images/sidebar/<?php echo $pair; ?>/bottom.jpg" id="sidebar-pic-bottom">

<h1><span>About: News</span></h1>

<ul id="subnav">
	<li><a href="/about/history/">History</a></li>
	<li><span class="active">News</span></li>
</ul>

<% @pages.select { |p| p.kind == 'article' }.sort_by { |a| a.created_at }.reverse.each do |article| %>
<h2><%=h article.title %></h2>
<%= article.content %>
<% end %>
