<% pair = rand(9) + 1 %>

<img src="/assets/images/sidebar/<%= pair %>/top.jpg"    id="sidebar-pic-top">
<img src="/assets/images/sidebar/<%= pair %>/bottom.jpg" id="sidebar-pic-bottom">

<h1>Media</h1>

<p>As Myst Online: Uru Live is a constantly increasing and evolving world, there’s always more and more to see. These sections highlight much of the game’s current content.</p>

<h2>Videos</h2>

<p>Click here to watch Myst Online videos ranging from trailers and TV spots to a look at the “making of” the game as well as a getting started video entitled Myst Online: Uru Live 101.</p>

<h2>Screenshots</h2>

<p>Click here to see a variety of screenshots taken from some of the game’s many Ages. This section will be updated on a routine basis as more and more areas of the game are unlocked.</p>

<h2>Artwork</h2>

<p>Click here to see samples of the concept artwork that was created during the Myst Online: Uru Live development process. You might even find a hint or two in some of the artwork. This section will also be continually updated as the game is constantly in a state of development.</p>

<h2>Downloadables</h2>

<p>Click here to download Myst Online: Uru Live elements ranging from podcasts and the game manual to wallpaper and screensavers. Enjoy.</p>
