<!--[if lte IE 6]>-->
<h1><span>Media: Concept Art</span></h1>
<!--<![endif]-->

<ul id="subnav">
	<li><a href="/media/screenshots/">Screenshots</a></li>
	<li><span class="active">Concept Art</span></li>
</ul>

<p>(Deze pagina is nog niet beschikbaar in het Nederlands.)</p>

<ul class="gallery">
<% (1..16).each do |i| %>
	<li>
		<a href="/assets/images/media/concept-art/full/<%= i %>.jpg">
			<img src="<%= @page.assets_base_url %>/assets/images/media/concept-art/thumbnails/<%= i %>.jpg">
		</a>
	</li>
<% end %>
</ul>
