<% if language_code_of(@page) == 'en' %>
	<!-- WARNING: untranslated -->
<% elsif language_code_of(@page) == 'de' %>
	<% if @page.kind == 'article' %>
		<p>Dieser Artikel ist derzeit noch nicht auf Deutsch verfügbar. Du kannst <%= link_to 'diesen Artikel auf Englisch', translation_of(@pages.find { |p| p.item_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> lesen, bis die deutsche Übersetzung verfügbar ist. Wir entschuldigen uns für jegliche Unannehmlichkeiten, die dies verursachen mag.</p>
	<% else %>
		<p>Diese Seite ist derzeit noch nicht auf Deutsch verfügbar. Du kannst <%= link_to 'diese Seite auf Englisch', translation_of(@page, 'en') %> lesen, bis die deutsche Übersetzung verfügbar ist. Wir bitten etwaige Unannehmlichkeiten zu entschuldigen.</p>
	<% end %>
<% elsif language_code_of(@page) == 'es' %>
	<% if @page.kind == 'article' %>
		<p>Este artículo aún no está disponible en Español. Puedes leer <%= link_to 'este artículo en inglés', translation_of(@pages.find { |p| p.item_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> hasta que la traducción a Español esté disponible. Pedimos disculpas por las molestias que esto pueda ocasionar.</p>
	<% else %>
		<p>Esta página aún no está disponible en Español. Puedes leer <%= link_to 'esta página en inglés', translation_of(@page, 'en') %> hasta que la traducción a Español esté disponible. Pedimos disculpas por las molestias que esto pueda ocasionar.</p>
	<% end %>
<% elsif language_code_of(@page) == 'fi' %>
	<% if @page.kind == 'article' %>
		<p>Artikkelia ei ole vielä saatavana suomeksi. Voit lukea <%= link_to 'artikkelin englanniksi', translation_of(@pages.find { |p| p.item_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> kunnes suomalainen käännös valmistuu. Pahoittelemme asiasta koituvaa hankaluutta.</p>
	<% else %>
		<p>Sivua ei ole vielä saatavana suomeksi. Voit lukea <%= link_to 'sivun englanniksi', translation_of(@page, 'en') %> kunnes suomalainen käännös valmistuu. Pahoittelemme asiasta koituvaa hankaluutta.</p>
	<% end %>
<% elsif language_code_of(@page) == 'fr' %>
	<% if @page.kind == 'article' %>
		<p>Cet article n'est pas encore disponible en français. Vous pouvez <%= link_to 'le lire en anglais', translation_of(@pages.find { |p| p.item_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> en attendant que la version française soit disponible. Veuillez-nous excuser pour cet inconvénient.</p>
	<% else %>
		<p>Cette page n'est pas encore disponible en français. Vous pouvez <%= link_to 'la lire en anglais', translation_of(@page, 'en') %> en attendant que la version française soit disponible. Veuillez-nous excuser pour cet inconvénient.</p>
	<% end %>
<% elsif language_code_of(@page) == 'it' %>
	<% if @page.kind == 'article' %>
		<p>Questo articolo non è ancora disponibile in Italiano. Puoi leggerlo <%= link_to 'in inglese', translation_of(@pages.find { |p| p.item_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> finchè la traduzione Italiana non sarà pronta. Ci scusiamo per ogni inconvenienza che questo potrebbe causare.</p>
	<% else %>
		<p>Questa pagina non è ancora disponibile in Italiano. Puoi leggerla <%= link_to 'in inglese', translation_of(@page, 'en') %> finchè la traduzione Italiana non sarà pronta. Ci scusiamo per ogni inconvenienza che questo potrebbe causare.</p>
	<% end %>
<% elsif language_code_of(@page) == 'nl' %>
	<% if @page.kind == 'article' %>
		<p>Dit artikel is nog niet beschikbaar in het Nederlands. U kunt de <%= link_to 'Engelstalige versie van dit artikel', translation_of(@pages.find { |p| p.item_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> lezen tot de Nederlandstalige versie er komt. Onze excuses voor dit ongemak.</p>
	<% else %>
		<p>Deze pagina is nog niet beschikbaar in het Nederlands. U kunt de <%= link_to 'Engelstalige versie van deze pagina', translation_of(@page, 'en') %> lezen tot de Nederlandstalige versie er komt. Onze excuses voor dit ongemak.</p>
	<% end %>
<% else %>
	<!-- WARNING: untranslated -->
<% end %>
