<% if language_code_of(@page) == 'en' %>
	<!-- WARNING: untranslated -->
<% elsif language_code_of(@page) == 'fr' %>
	<% if @page.kind == 'article' %>
		<p>Cet article n'est pas encore disponible en français. Vous pouvez <%= link_to 'le lire en anglais', translation_of(@pages.find { |p| p.page_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> en attendant que la version française soit disponible. Veuillez-nous excuser pour cet inconvénient.</p>
	<% else %>
		<p>Cette page n'est pas encore disponible en français. Vous pouvez <%= link_to 'la lire en anglais', translation_of(@page, 'en') %> en attendant que la version française soit disponible. Veuillez-nous excuser pour cet inconvénient.</p>
	<% end %>
<% elsif language_code_of(@page) == 'it' %>
	<% if @page.kind == 'article' %>
		<p>Questo articolo non è ancora disponibile in Italiano. Puoi leggerlo <%= link_to 'in inglese', translation_of(@pages.find { |p| p.page_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> finchè la traduzione Italiana non sarà pronta. Ci scusiamo per ogni inconvenienza che questo potrebbe causare.</p>
	<% else %>
		<p>Questa pagina non è ancora disponibile in Italiano. Puoi leggerla <%= link_to 'in inglese', translation_of(@page, 'en') %> finchè la traduzione Italiana non sarà pronta. Ci scusiamo per ogni inconvenienza che questo potrebbe causare.</p>
	<% end %>
<% elsif language_code_of(@page) == 'nl' %>
	<% if @page.kind == 'article' %>
		<p>Dit artikel is nog niet beschikbaar in het Nederlands. U kunt de <%= link_to 'Engelstalige versie van dit artikel', translation_of(@pages.find { |p| p.page_id == 'about-news' && language_code_of(p) == 'en' }, 'en') %> lezen tot de Nederlandstalige versie er komt. Onze excuses voor dit ongemak.</p>
	<% else %>
		<p>Deze pagina is nog niet beschikbaar in het Nederlands. U kunt de <%= link_to 'Engelstalige versie van deze pagina', translation_of(@page, 'en') %> lezen tot de Nederlandstalige versie er komt. Onze excuses voor dit ongemak.</p>
	<% end %>
<% else %>
	<!-- WARNING: untranslated -->
<% end %>
