<h1><span>Media: Ontwerpschetsen</span></h1>

<ul id="subnav">
	<li><a href="/nl/media/schermafbeeldingen/">Schermafbeeldingen</a></li>
	<li><span class="active">Ontwerpschetsen</span></li>
</ul>

<p>Klik op een afbeelding om de uitvergrote versie te bekijken. <a href="/nl/media/">Terug naar de media-pagina</a>.</p>

<ul class="gallery">
<% (1..16).each do |i| %>
	<li>
		<a href="/assets/images/media/concept-art/full/<%= i %>.jpg">
			<img src="<%= @site.config[:assets_base_url] %>/assets/images/media/concept-art/thumbnails/<%= i %>.jpg">
		</a>
	</li>
<% end %>
</ul>
