<h1><span>Media: Schermafbeeldingen</span></h1>

<ul id="subnav">
	<li><span class="active">Schermafbeeldingen</span></li>
	<li><a href="/nl/media/ontwerpschetsen/">Ontwerpschetsen</a></li>
</ul>

<p>Klik op een afbeelding om de uitvergrote versie te bekijken. <a href="/nl/media/">Terug naar de media-pagina</a>.</p>

<ul class="gallery">
<% (1..67).each do |i| %>
	<li>
		<a href="/assets/images/media/screenshots/full/<%= i %>.jpg">
			<img src="<%= @site.config[:assets_base_url] %>/assets/images/media/screenshots/thumbnails/<%= i %>.jpg">
		</a>
	</li>
<% end %>
</ul>
