<%= '<!--[if lte IE 6]>' %>
			<div style="padding: 4px 3px; background: #ffc; color: #900; font-size: 11px; font-family: Verdana, Arial, sans-serif; line-height: 15px">
<% if @page.lang == 'nl' %>
				TODO translate me
<% else %>
				You appear to be running Internet Explorer 6, an eight-year-old browser that is no longer supported. Please consider upgrading to <a style="color: #000" href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer 7</a> or <a style="color: #000" href="http://www.mozilla-europe.org/en/firefox/">Firefox</a>. You will not be prevented from visiting this site in IE 6, but your experience may not be satisfactory.
<% end %>
			</div>
<%= '<![endif]-->' %>
