<%= '<!--[if lte IE 6]>' %>
			<div class="ie6-warning">
<% if language_code_of(@page) == 'en' %>
				You appear to be running Internet Explorer 6, an eight-year-old browser that is no longer supported. Please consider upgrading to <a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer 7</a> or <a href="http://www.mozilla-europe.org/en/firefox/">Firefox</a>. You will not be prevented from visiting this site in IE 6, but your experience may not be satisfactory.
<% elsif language_code_of(@page) == 'fr' %>
				Il semble que vous utilisez Internet Explorer 6, un navigateur de plus de 8 ans que nous ne prenons plus en charge. Merci de passer sous <a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer 7</a> ou <a href="http://www.mozilla-europe.org/en/firefox/">Firefox</a>. Utiliser IE 6 ne vous empêchera pas de naviguer sur notre site web mais votre visite rique de ne pas être satisfaisante.
<% elsif language_code_of(@page) == 'it' %>
				embra che tu stia usando Internet Explorer 6, un browser vecchio di otto anni che non è più supportato. Considera l'opzione di passare a <a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer 7</a> o <a href="http://www.mozilla-europe.org/en/firefox/">Firefox</a>. Non ti verrà impedito di visitare questo sito in IE 6, ma la tua esperienza potrebbe non essere soddisfacente.
<% elsif language_code_of(@page) == 'nl' %>
				U blijkt Internet Explorer 6 te gebruiken. Dit is een acht jaar oude browser die niet langer ondersteund wordt. Overweeg te upgraden naar <a href="http://www.microsoft.com/windows/downloads/ie/getitnow.mspx">Internet Explorer 7</a> of <a href="http://www.mozilla-europe.org/en/firefox/">Firefox</a>. U kunt deze site met IE 6 blijven bezoeken, maar het gebruik van deze browser kan problemen veroorzaken op deze site.
<% else %>
				<!-- WARNING: untranslated -->
<% end %>
			</div>
<%= '<![endif]-->' %>
