<h1><span>Media: Screenshots</span></h1>

<ul id="subnav">
	<li><span class="active">Screenshots</span></li>
	<li><a href="/media/concept-art/">Concept Art</a></li>
</ul>

<p>Click on any image for a larger version. <a href="/media/">Back to the media page</a>.</p>

<ul class="gallery">
<% (1..67).each do |i| %>
	<li>
		<a href="<%= @page.assets_base_url %>/assets/images/media/screenshots/full/<%= i %>.jpg">
			<img src="<%= @page.assets_base_url %>/assets/images/media/screenshots/thumbnails/<%= i %>.jpg">
		</a>
	</li>
<% end %>
</ul>
