<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<%= language_code_of(@page) %>">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- title and description -->
		<title>Myst Online: Uru Live - <%= @page.title %></title>
		<meta name="description" content="Myst Online: Uru Live is a soon to be open-sourced massive multiplayer online adventure game.">

		<!-- style -->
		<link href="<%= @page.assets_base_url + asset('style-screen').path %>" rel="stylesheet" type="text/css">
		<!--[if lte IE 6]>
		<style type="text/css" media="screen">
			#sidebar-pic, #sidebar-pic-home { display: none; }
		</style>
		<![endif]-->

		<!-- translations -->
<% translations_of(@page).each do |t| %>
		<link rel="alternate" href="<%=h t.path %>" hreflang="<%= language_code_of(t) %>" title="<%= language_of(t, language_code_of(@page)) %> translation">
<% end %>

		<!-- feed -->
		<link rel="alternate" type="application/atom+xml" title="Myst Online: Uru Live news" href="http://feeds.feedburner.com/uru">
	</head>
<% if @page.page_id %>
	<body class="mystonline-com lang-<%= language_code_of(@page) %>" id="page-<%=h @page.page_id %>">
<% else %>
	<body class="mystonline-com lang-<%= language_code_of(@page) %>">
<% end %>
		<div id="lang-picker">
			<ul>
<% [ [ 'en', 'English' ], [ 'de', 'Deutsch' ], [ 'es', 'Español' ], [ 'fr', 'français' ], [ 'it', 'Italiano' ], [ 'nl', 'Nederlands' ] ].each do |lang| %>
				<li id="lang-picker-<%= lang[0] %>">
<% if language_code_of(@page) == lang[0] %>
					<span><%=h lang[1] %></span>
<% else %>
					<a href="<%= translation_of(@page, lang[0]) ? translation_of(@page, lang[0]).path : '#' %>"><%= lang[1] %></a>
<% end %>
				</li>
<% end %>
			</ul>
		</div>
		<div id="wrapper">
			<div id="header">
				<div><a href="/<%= language_code_of(@page) %>/"><span>Myst Online: Uru Live</span></a></div>
			</div>
<%= render 'nav' %>
<%= render 'ie6-warning' %>
<% if @page.has_banner? %>
			<div id="banner"></div>
			<div id="main-wrapper-outside" class="<%= @page.size %> <%= @page.size %>-with-banner">
<% else %>
			<div id="main-wrapper-outside" class="<%= @page.size %>">
<% end %>
				<div id="main-wrapper-inside">
					<div id="main">
						<div id="page">
<%= @page.content %>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<img src="<%= @page.assets_base_url %>/assets/images/footer/logo-cyan.jpg" id="footer-logo-cyan" alt="Cyan Worlds, inc. logo">
				<p class="copyright">
					Myst Online: Uru Live&trade;&reg; is the sole property of Cyan Worlds Inc. Copyright 2003-2009 Cyan Worlds, Inc. All Rights reserved.<br>
					Myst is a registered trademark of Cyan, Inc. &copy; 1994-2008 Cyan, Inc. The Myst logo is a registered trademark of Cyan, Inc.<br>
					Myst and all character names and likenesses are trademarks of Cyan, Inc. 
				</p>
			</div>
		</div>
		<script type="text/javascript">
			// Preload
			if(document.images)
			{
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/right-top.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/right-middle.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/right-bottom.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/full-top.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/full-middle.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/full-bottom.jpg';
			}
		</script>
		<script type="text/javascript" src="http://www.google-analytics.com/urchin.js"></script>
		<script type="text/javascript">_uacct = "UA-528970-2"; urchinTracker();</script>
	</body>
</html>
