<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>Myst Online: Uru Live - <%= @page.title %></title>

		<link href="<%= @page.assets_base_url + asset('style-screen').path %>" rel="stylesheet" type="text/css">

		<link rel="alternate" type="application/atom+xml" title="Myst Online: Uru Live news" href="http://feeds.feedburner.com/uru">
	</head>
<% if @page.page_id %>
	<body class="mystonline-com" id="page-<%=h @page.page_id %>">
<% else %>
	<body class="mystonline-com">
<% end %>
		<script type="text/javascript">
			// Redirect
			var old_url = document.location.href;
			var new_url = old_url.replace('http://www.', 'http://');
			if(old_url != new_url)
				window.location = new_url;
		</script>
		<div id="wrapper">
			<div id="header">
				<div><a href="/"><span>Myst Online: Uru Live</span></a></div>
			</div>
			<ul id="nav">
				<li id="nav-home"><a href="/"><span>Home</span></a></li>
				<li id="nav-play"><a href="/play/"><span>Play</span></a></li>
				<li id="nav-about"><a href="/about/"><span>About</span></a></li>
				<li id="nav-forums"><a href="/forums/"><span>Forums</span></a></li>
				<li id="nav-media"><a href="/media/"><span>Media</span></a></li>
				<li id="nav-developers"><a href="/developers/"><span>Developers</span></a></li>
			</ul>
<% if @page.has_banner? %>
			<div id="banner"></div>
			<div id="main-wrapper-outside" class="<%= @page.size %> <%= @page.size %>-with-banner">
<% else %>
			<div id="main-wrapper-outside" class="<%= @page.size %>">
<% end %>
				<div id="main-wrapper-inside">
					<div id="main">
						<div id="page">
<%= @page.content %>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<img src="<%= @page.assets_base_url %>/assets/images/footer/logo-cyan.jpg" id="footer-logo-cyan" alt="Cyan Worlds, inc. logo">
				<p class="copyright">
					Myst Online: Uru Live&trade;&reg; is the sole property of Cyan Worlds Inc. Copyright 2003-2009 Cyan Worlds, Inc. All Rights reserved.<br>
					Myst is a registered trademark of Cyan Worlds, inc. © 1994-2008 Cyan Worlds, inc. The Myst logo is a registered trademark of Cyan Worlds, inc.<br>
					Myst and all character names and likenesses are trademarks of Cyan Worlds, inc.
				</p>
			</div>
		</div>
		<script type="text/javascript">
			// Preload
			if(document.images)
			{
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/right-top.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/right-middle.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/right-bottom.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/full-top.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/full-middle.jpg';
				new Image().src = '<%= @page.assets_base_url %>/assets/images/background/full-bottom.jpg';
			}
		</script>
		<script type="text/javascript" src="http://www.google-analytics.com/urchin.js"></script>
		<script type="text/javascript">_uacct = "UA-528970-2"; urchinTracker();</script>
	</body>
</html>
