<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<%= language_code_of(@page) %>">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<!-- title and description -->
		<title>Myst Online: Uru Live - <%= @page.title %></title>
<% if language_code_of(@page) == 'en' %>
		<meta name="description" content="Myst Online: Uru Live is a soon to be open-sourced massive multiplayer online adventure game.">
<% elsif language_code_of(@page) == 'de' %>
		<meta name="description" content="Myst Online: Uru Live ist ein Massive-Multiplayer-Online-Adventurespiel, das in Kürze als Open Source freigegeben werden soll.">
<% elsif language_code_of(@page) == 'es' %>
		<meta name="description" content="Myst Online: Uru Live es un juego de aventura multijugador online masivo a punto de convertirse a código abierto.">
<% elsif language_code_of(@page) == 'fi' %>
		<meta name="description" content="Myst Online: Uru Live tulee pian olemaan avoimeen lähdekoodiin perustuva massiivinen seikkailu-verkkomoninpeli.">
<% elsif language_code_of(@page) == 'fr' %>
		<meta name="description" content="Myst Online: Uru Live sera bientôt un jeu d'aventure en ligne multijoueurs à code source ouverte.">
<% elsif language_code_of(@page) == 'it' %>
		<meta name="description" content="Myst Online: Uru Live è un Massively Multiplayer Online Game che sarà presto Open Source.">
<% elsif language_code_of(@page) == 'nl' %>
		<meta name="description" content="Myst Online: Uru Live is een massive multiplayer online adventure-spel dat binnenkort open-source gemaakt zal worden.">
<% else %>
		<!-- WARNING: untranslated -->
<% end %>
		<!-- style -->
		<link href="<%= @site.config[:assets_base_url] + asset('style-screen').path %>" rel="stylesheet" type="text/css">
		<!--[if lte IE 6]>
		<style type="text/css" media="screen">
			#sidebar-pic, #sidebar-pic-home { display: none; }
		</style>
		<![endif]-->

		<!-- related pages -->
		<link rel="home" href="/<%=h language_code_of(@page) %>/">
<% translations_of(@page).each do |tp| %>
		<link rel="alternate" href="<%=h tp.path %>" hreflang="<%= language_code_of(tp) %>" title="<%= t(language_of(tp) + ' translation', language_code_of(@page)) %>">
<% end %>

		<!-- feed -->
<% if language_code_of(@page) == 'en' %>
		<link rel="alternate" type="application/atom+xml" title="Myst Online: Uru Live news" href="http://feeds2.feedburner.com/uru">
<% elsif language_code_of(@page) == 'de' %>
		<link rel="alternate" type="application/atom+xml" title="Myst Online: Uru Live news" href="http://feeds2.feedburner.com/uru_de">
<% elsif language_code_of(@page) == 'es' %>
		<link rel="alternate" type="application/atom+xml" title="Noticias de Myst Online: Uru Live" href="http://feeds2.feedburner.com/uru_es">
<% elsif language_code_of(@page) == 'fi' %>
		<link rel="alternate" type="application/atom+xml" title="Myst Online: Uru Live uutisia" href="http://feeds2.feedburner.com/uru_fi">
<% elsif language_code_of(@page) == 'fr' %>
		<link rel="alternate" type="application/atom+xml" title="Nouvelles de Myst Online: Uru Live" href="http://feeds2.feedburner.com/uru_fr">
<% elsif language_code_of(@page) == 'it' %>
		<link rel="alternate" type="application/atom+xml" title="Notizie di Myst Online: Uru Live" href="http://feeds2.feedburner.com/uru_it">
<% elsif language_code_of(@page) == 'nl' %>
		<link rel="alternate" type="application/atom+xml" title="Myst Online: Uru Live nieuws" href="http://feeds2.feedburner.com/uru_nl">
<% else %>
		<!-- WARNING: untranslated -->
<% end %>
	</head>
<% if @page.page_id %>
	<body class="mystonline-com lang-<%= language_code_of(@page) %>" id="page-<%=h @page.page_id %>">
<% else %>
	<body class="mystonline-com lang-<%= language_code_of(@page) %>">
<% end %>
		<div id="lang-picker">
			<ul>
<% [ [ 'en', 'English' ], [ 'de', 'Deutsch' ], [ 'es', 'Español' ], [ 'fr', 'français' ], [ 'it', 'Italiano', ], [ 'nl', 'Nederlands' ], [ 'fi', 'Suomi' ] ].each do |lang| %>
				<li id="lang-picker-<%= lang[0] %>">
<% if language_code_of(@page) == lang[0] %>
					<span lang="<%=h lang[0] %>"><%=h lang[1] %></span>
<% else %>
					<a href="<%= translation_of(@page, lang[0]) ? translation_of(@page, lang[0]).path : '#' %>" lang="<%=h lang[0] %>" hreflang="<%=h lang[0] %>"><%= lang[1] %></a>
<% end %>
				</li>
<% end %>
			</ul>
		</div>
		<div id="wrapper">
			<div id="header">
				<div id="link-home"><a href="/<%= language_code_of(@page) %>/"><span>Myst Online: Uru Live</span></a></div>
			</div>
<%= render 'nav' %>
<%= render 'ie6-warning' %>
<% if @page.has_banner? %>
			<div id="banner"></div>
			<div id="main-wrapper-outside" class="<%= @page.size || 'halfwidth' %> <%= @page.size || 'halfwidth' %>-with-banner">
<% else %>
			<div id="main-wrapper-outside" class="<%= @page.size || 'halfwidth' %>">
<% end %>
				<div id="main-wrapper-inside">
					<div id="main">
						<div id="page">
<%= @page.content %>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<img src="<%= @site.config[:assets_base_url] %>/assets/images/footer/logo-cyan.jpg" id="footer-logo-cyan" alt="Cyan Worlds, inc. logo">
				<p class="copyright">
					Myst Online: Uru Live&trade;&reg; is the sole property of Cyan Worlds Inc. Copyright 2003-2009 Cyan Worlds, Inc. All Rights reserved.<br>
					Myst is a registered trademark of Cyan, Inc. &copy; 1994-2008 Cyan, Inc. The Myst logo is a registered trademark of Cyan, Inc.<br>
					Myst and all character names and likenesses are trademarks of Cyan, Inc. 
				</p>
			</div>
		</div>
		<script type="text/javascript" src="/assets/scripts/jquery.js"></script>
		<script type="text/javascript" src="/assets/scripts/sprites.js"></script>
		<script type="text/javascript">
			// Preload
			if(document.images)
			{
				new Image().src = '<%= @site.config[:assets_base_url] %>/assets/images/background/right-top.jpg';
				new Image().src = '<%= @site.config[:assets_base_url] %>/assets/images/background/right-middle.jpg';
				new Image().src = '<%= @site.config[:assets_base_url] %>/assets/images/background/right-bottom.jpg';
				new Image().src = '<%= @site.config[:assets_base_url] %>/assets/images/background/full-top.jpg';
				new Image().src = '<%= @site.config[:assets_base_url] %>/assets/images/background/full-middle.jpg';
				new Image().src = '<%= @site.config[:assets_base_url] %>/assets/images/background/full-bottom.jpg';
			}
		</script>
		<script type="text/javascript" src="http://www.google-analytics.com/urchin.js"></script>
		<script type="text/javascript">_uacct = "UA-528970-2"; urchinTracker();</script>
	</body>
</html>
