<h1><span>Media: Concept Art</span></h1>

<ul id="subnav">
	<li><a href="/it/media/immagini/">Immagini</a></li>
	<li><span class="active">Concept Art</span></li>
</ul>

<p>Clicca su un'immagine per una versione ingrandita. <a href="/it/media/">Torna alla pagina dei Media</a>.</p>

<ul class="gallery">
<% (1..16).each do |i| %>
	<li>
		<a href="/assets/images/media/concept-art/full/<%= i %>.jpg">
			<img src="<%= @site.config[:assets_base_url] %>/assets/images/media/concept-art/thumbnails/<%= i %>.jpg">
		</a>
	</li>
<% end %>
</ul>
